.rotate {
  animation: rotation 30s infinite linear;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
